body {
    font-size: 3vw;
}
input[type="button"]{
    color: black;
    border: solid black 2px;
    width: 100%;
    border-radius: 5px;
    background-color: #F0F0F0;
}

#calc {
    max-width: 600px;
    margin: 5px auto;
    background-color: #6495ed;
    border-radius: 5px;
    padding: 5px;
}
table {
    border-collapse;
    width: 100%;
    height: auto;
    border-radius: 5px;
    table-layout:fixed;
}
td{
    width:auto;
}
input[type="text"] {
    background-color: #FFF;
    border: solid black 2px;
    width: 100%;
    border-radius: 5px;
    text-align:end;
}

